/*====================================================
settings
====================================================*/
* {
    box-sizing: border-box;
    word-break: break-all;
  }
  html {
    font-size: 62.5%;
    -moz-text-size-adjust: 100%;
         text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    font-family: "PingFang TC", "Helvetica Neue","Times","Regular",serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #3F5D45;
    font-weight: normal;
  }

  img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: auto;
  }