

.selectList a:hover{
  
    background:#EAF0ED

}



.product a{
    background:#EAF0ED;
    text-decoration: none;
    
}


.information{
    display: flex;
  
}

.active{
    background-color: #3F5D45;
}

.product{
    position: relative;
    z-index: 0;
    width: 300px;
    
}

.featured{
    position: absolute;
    left:10px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    z-index: 1;
}

.favorite{
    width: 30px;
    height: auto;
    position: absolute;
    right:20px;
    top:20px;
    z-index: 1;
}